In [1]:
# sudo service mysql stop
# docker run --name mysql_call -p 3306:3306 -e MYSQL_ROOT_PASSWORD=your_secret_pwd -d mysql:latest

In [1]:
import pymysql

In [2]:
with open('mysql_local.pass','r') as file:
    mysql_pass = file.read().replace('\n', '')
    file.close()

In [3]:
conn = pymysql.connect(
            host = '10.2.4.87', 
            user = 'root',
            passwd = mysql_pass,
            db = 'mysql',
            autocommit = True
        )

In [4]:
cursor = conn.cursor()

In [40]:
query = "create database 1c;"
cursor.execute(query)

1

In [5]:
query = "use 1c;"
cursor.execute(query)
for row in cursor.fetchall():
    print(row)

In [6]:
query = "show tables;"
cursor.execute(query)
for row in cursor.fetchall():
    print(row)

('calls',)

In [9]:
#--create table users ( id int not null auto_increment, token varchar(36), 
#email varchar(64), event_date DATETIME, primary key (id) );
query = "create table calls"
query += " ("
query += " id int not null auto_increment,"
query += " call_date DATETIME,"
query += " ak BOOLEAN,"
query += " miko BOOLEAN,"
query += " mrm BOOLEAN,"
query += " incoming BOOLEAN,"
query += " linkedid varchar(64),"
query += " base_name varchar(64),"
query += " primary key (id)"
query += " );"
cursor.execute(query)
for row in cursor.fetchall():
    print(row)

In [8]:
query = "drop table calls;"
cursor.execute(query)
for row in cursor.fetchall():
    print(row)